body {
    Background-color: burlywood;
    font-family:Arial;
    margin: 0cm 10cm 0cm 10cm;
}
.centerclass {
    text-align:center;
}
ul {
    list-style:none;
}
li::first-letter {
    font-size: 20px;
}
.dotted {
    border-bottom: dotted;
}
.dotted2 {
    border-style: dotted;
}